name: Build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-2022]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Windows Config
        if: matrix.os == 'windows-2022'
        run: |
          git config --system core.longpaths true
          echo "Enabled long paths in git"

          New-ItemProperty -Path "HKLM:\SYSTEM\CurrentControlSet\Control\FileSystem" -Name "LongPathsEnabled" -Value 1 -PropertyType DWORD -Force
          echo "Enabled long paths in registry"

          $git_link = "C:\Program Files\Git\usr\bin\link.exe"
          if (Test-Path $git_link) {
              Rename-Item $git_link "_link.exe"
          }
          echo "Removed link.exe in git"

      - name: Setup MSVC
        if: matrix.os == 'windows-2022'
        uses: ilammy/msvc-dev-cmd@v1
        with:
          toolset: 14.29
          arch: x64
          sdk: 10.0.19041.0

      - name: Checkout self
        uses: actions/checkout@v4

      - name: Checkout rg
        uses: actions/checkout@v4
        with:
          repository: BurntSushi/rg
          ref: refs/tags/15.1.0
          path: rg

      - name: Copy config file
        shell: bash
        run: |
          mkdir -p rg/.cargo
          cp -f .cargo/config.toml rg/.cargo/

      - name: Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.os }}-${{ hashFiles('Cargo.lock') }}
          workspaces: "rg -> target"

      - name: Cargo update
        shell: bash
        run: |
          cd rg
          rm -f Cargo.lock
          cargo update

      - name: Build
        run: |
          cd rg
          cargo b -r

      - name: Archive
        uses: actions/upload-artifact@v4
        with:
          name: rg_${{ matrix.os }}
          path: |
            rg/target/release/rg
            rg/target/release/rg.exe
